<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AllTestSuite" >
    <test name="GroupsTest">
        <groups>
            <define name="SelenideTestsCombined">
                <include name="Selenide 1"/>
                <include name="Selenide 2"/>
            </define>
            <run>
                <include name="SelenideTestsCombined"/>
            </run>
        </groups>
        <packages>
            <package name="ge.tbcitacademy.tests"/>
        </packages>

    </test>
    <test name="FrontendTest" thread-count="6" parallel="classes">
        <groups>
            <run>
                <include name=".*FrontEnd"/>
            </run>
        </groups>
        <packages>
            <package name="ge.tbcitacademy.tests"/>
        </packages>
    </test>
</suite>

